In [64]:
import pandas as pd
import numpy as np

ds = pd.read_csv('~/iarpa_geofc.csv', sep=None, engine='python', parse_dates=["date_start","date_fcast_1","date_fcast_2","date_fcast_3"])

In [65]:
ds.shape
ds.head()
dso_to_save = ds

ds.head()

,ifp_id,date_start,n_opts,user_id_1,answer_option_1_a,value_1_a,answer_option_1_b,value_1_b,answer_option_1_c,value_1_c,...,date_fcast_2,user_id_3,answer_option_3_a,value_3_a,answer_option_3_b,value_3_b,answer_option_3_c,value_3_c,date_fcast_3,outcome
0,1001-0,2011-09-01,2,600,a,0.10,b,0.90,c,0.0,...,2011-08-31,3469,a,0.20,b,0.80,c,0.0,2011-08-31,b
1,1001-0,2011-09-01,2,4953,a,0.40,b,0.60,c,0.0,...,2011-08-31,636,a,0.05,b,0.95,c,0.0,2011-08-31,b
2,1001-0,2011-09-01,2,5187,a,0.40,b,0.60,c,0.0,...,2011-08-31,1456,a,0.20,b,0.80,c,0.0,2011-08-31,b
3,1001-0,2011-09-01,2,4508,a,0.40,b,0.60,c,0.0,...,2011-08-31,1414,a,0.20,b,0.80,c,0.0,2011-08-31,b
4,1001-0,2011-09-01,2,1235,a,0.75,b,0.25,c,0.0,...,2011-08-31,3364,a,0.60,b,0.40,c,0.0,2011-08-31,b

In [66]:
dso_to_save["recency_2"] = dso_to_save["date_fcast_2"] - dso_to_save["date_start"]
dso_to_save["recency_3"] = dso_to_save["date_fcast_3"] - dso_to_save["date_start"]

In [67]:
(dso_to_save["date_fcast_1"].max() - dso_to_save["date_fcast_1"].min()).days 

ds = ds.drop(['date_start','date_fcast_1','date_fcast_2','date_fcast_3'], axis=1)

column_list = ds.columns.tolist()
column_list.remove("recency_1")
column_list.remove("recency_2")
column_list.remove("recency_3")

index_1_c = column_list.index("value_1_c")
column_list = column_list[:index_1_c+1] + ["recency_1"] + column_list[index_1_c+1:]
index_2_c = column_list.index("value_2_c")
column_list = column_list[:index_2_c+1] + ["recency_2"] + column_list[index_2_c+1:]
index_3_c = column_list.index("value_3_c")
column_list = column_list[:index_3_c+1] + ["recency_3"] + column_list[index_3_c+1:]
#column_list.remove(column_list.index("recency_1"))
#column_list.remove(column_list.index("recency_2"))
#column_list.remove(column_list.index("recency_3"))

column_list

['ifp_id',
 'date_start',
 'n_opts',
 'user_id_1',
 'answer_option_1_a',
 'value_1_a',
 'answer_option_1_b',
 'value_1_b',
 'answer_option_1_c',
 'value_1_c',
 'recency_1',
 'date_fcast_1',
 'user_id_2',
 'answer_option_2_a',
 'value_2_a',
 'answer_option_2_b',
 'value_2_b',
 'answer_option_2_c',
 'value_2_c',
 'recency_2',
 'date_fcast_2',
 'user_id_3',
 'answer_option_3_a',
 'value_3_a',
 'answer_option_3_b',
 'value_3_b',
 'answer_option_3_c',
 'value_3_c',
 'recency_3',
 'date_fcast_3',
 'outcome']

In [68]:
ds = ds[column_list]

In [69]:
ds.shape

(48428, 31)

In [141]:
#ds[ds["new"].dt.days < 0] = pd.Timedelta('1 days')
ds.loc[ds.recency_1.dt.days < 0,'recency_1'] = pd.Timedelta('0 days');
ds.loc[ds.recency_2.dt.days < 0,'recency_2'] = pd.Timedelta('0 days');
ds.loc[ds.recency_3.dt.days < 0,'recency_3'] = pd.Timedelta('0 days');

In [140]:
ds["recency_1"]

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
         ..
48398    25
48399    25
48400    25
48401    25
48402    25
48403    25
48404    25
48405    25
48406    25
48407    25
48408    25
48409    25
48410    25
48411    25
48412    25
48413    25
48414    25
48415    25
48416    25
48417    25
48418    25
48419    25
48420    25
48421    25
48422    25
48423    25
48424    25
48425    25
48426    25
48427    25
Name: recency_1, Length: 48428, dtype: int64

In [142]:
ds = ds.drop(['date_start','date_fcast_1','date_fcast_2','date_fcast_3'], axis=1)

ValueError: labels ['date_start' 'date_fcast_1' 'date_fcast_2' 'date_fcast_3'] not contained in axis

In [78]:
ds.to_csv("~/iarpa_geofc_with_recency.csv", index=False)

In [143]:
ds.columns

Index(['n_opts', 'answer_option_1_a', 'value_1_a', 'answer_option_1_b',
       'value_1_b', 'answer_option_1_c', 'value_1_c', 'recency_1',
       'answer_option_2_a', 'value_2_a', 'answer_option_2_b', 'value_2_b',
       'answer_option_2_c', 'value_2_c', 'recency_2', 'answer_option_3_a',
       'value_3_a', 'answer_option_3_b', 'value_3_b', 'answer_option_3_c',
       'value_3_c', 'recency_3', 'outcome'],
      dtype='object')

In [144]:
ds = ds.drop(["ifp_id", "user_id_1", "user_id_2", "user_id_3"], axis=1)

ValueError: labels ['ifp_id' 'user_id_1' 'user_id_2' 'user_id_3'] not contained in axis

In [145]:
ds2 = ds.copy()

ds2.recency_1.dtypes

ds2.head()

,n_opts,answer_option_1_a,value_1_a,answer_option_1_b,value_1_b,answer_option_1_c,value_1_c,recency_1,answer_option_2_a,value_2_a,...,value_2_c,recency_2,answer_option_3_a,value_3_a,answer_option_3_b,value_3_b,answer_option_3_c,value_3_c,recency_3,outcome
0,2,a,0.10,b,0.90,c,0.0,0 days,a,0.10,...,0.0,0 days,a,0.20,b,0.80,c,0.0,0 days,b
1,2,a,0.40,b,0.60,c,0.0,0 days,a,0.20,...,0.0,0 days,a,0.05,b,0.95,c,0.0,0 days,b
2,2,a,0.40,b,0.60,c,0.0,0 days,a,0.35,...,0.0,0 days,a,0.20,b,0.80,c,0.0,0 days,b
3,2,a,0.40,b,0.60,c,0.0,0 days,a,0.60,...,0.0,0 days,a,0.20,b,0.80,c,0.0,0 days,b
4,2,a,0.75,b,0.25,c,0.0,0 days,a,0.20,...,0.0,0 days,a,0.60,b,0.40,c,0.0,0 days,b

In [146]:
enbarked_one_hot = pd.get_dummies(ds2['outcome'], prefix='outcome')
ds2 = ds2.drop('outcome', axis=1)
ds2 = ds2.join(enbarked_one_hot)

In [149]:
ds2.head()


ds2 = ds2.drop(["answer_option_1_a","answer_option_1_b", "answer_option_1_c", "answer_option_2_a","answer_option_2_b","answer_option_2_c","answer_option_3_a","answer_option_3_b","answer_option_3_c"], axis=1)

In [155]:
#ds2.to_csv("~/ds_fnn_w_only_prob.csv", index=False)

#ds2.recency_1 = ds2.recency_1.dt.days
ds2.recency_2 = ds2.recency_2.dt.days
ds2.recency_3 = ds2.recency_3.dt.days
ds2

,n_opts,value_1_a,value_1_b,value_1_c,recency_1,value_2_a,value_2_b,value_2_c,recency_2,value_3_a,value_3_b,value_3_c,recency_3,outcome_a,outcome_b,outcome_c
0,2,0.10,0.90,0.0,0,0.10,0.90,0.0,0,0.20,0.80,0.0,0,0,1,0
1,2,0.40,0.60,0.0,0,0.20,0.80,0.0,0,0.05,0.95,0.0,0,0,1,0
2,2,0.40,0.60,0.0,0,0.35,0.65,0.0,0,0.20,0.80,0.0,0,0,1,0
3,2,0.40,0.60,0.0,0,0.60,0.40,0.0,0,0.20,0.80,0.0,0,0,1,0
4,2,0.75,0.25,0.0,0,0.20,0.80,0.0,0,0.60,0.40,0.0,0,0,1,0
5,2,0.10,0.90,0.0,0,0.25,0.75,0.0,0,0.65,0.35,0.0,0,0,1,0
6,2,0.10,0.90,0.0,0,0.30,0.70,0.0,0,0.40,0.60,0.0,0,0,1,0
7,2,0.50,0.50,0.0,0,0.05,0.95,0.0,0,0.20,0.80,0.0,0,0,1,0
8,2,0.40,0.60,0.0,0,0.40,0.60,0.0,0,0.05,0.95,0.0,0,0,1,0
9,2,0.60,0.40,0.0,0,0.00,1.00,0.0,0,0.20,0.80,0.0,0,0,1,0
10,2,0.05,0.95,0.0,0,0.65,0.35,0.0,0,0.10,0.90,0.0,0,0,1,0
11,2,0.15,0.85,0.0,0,0.10,0.90,0.0,0,0.40,0.60,0.0,0,0,1,0
12,2,0.15,0.85,0.0,0,0.70,0.30,0.0,0,0.55,0.45,0.0,0,0,1,0
13,2,0.20,0.80,0.0,0,0.20,0.80,0.0,0,0.30,0.70,0.0,0,0,1,0
14,2,0.75,0.25,0.0,0,0.80,0.20,0.0,0,0.22,0.78,0.0,0,0,1,0
15,2,0.45,0.55,0.0,0,0.25,0.75,0.0,0,0.40,0.60,0.0,0,0,1,0
16,2,0.25,0.75,0.0,0,0.30,0.70,0.0,0,0.30,0.70,0.0,0,0,1,0
17,2,0.05,0.95,0.0,0,0.20,0.80,0.0,0,0.20,0.80,0.0,0,0,1,0
18,2,0.45,0.55,0.0,0,0.25,0.75,0.0,0,0.05,0.95,0.0,0,0,1,0
19,2,0.25,0.75,0.0,0,0.00,1.00,0.0,0,0.05,0.95,0.0,0,0,1,0
20,2,0.30,0.70,0.0,0,0.20,0.80,0.0,0,0.25,0.75,0.0,0,0,1,0
21,2,0.50,0.50,0.0,0,0.50,0.50,0.0,0,0.25,0.75,0.0,0,0,1,0
22,2,0.20,0.80,0.0,0,0.10,0.90,0.0,0,0.05,0.95,0.0,0,0,1,0
23,2,0.75,0.25,0.0,0,0.25,0.75,0.0,0,0.60,0.40,0.0,0,0,1,0
24,2,0.50,0.50,0.0,0,0.10,0.90,0.0,0,0.50,0.50,0.0,0,0,1,0
25,2,0.20,0.80,0.0,0,0.10,0.90,0.0,0,0.60,0.40,0.0,0,0,1,0
26,2,0.20,0.80,0.0,0,0.10,0.90,0.0,0,0.20,0.80,0.0,0,0,1,0
27,2,0.10,0.90,0.0,0,0.70,0.30,0.0,0,0.55,0.45,0.0,0,0,1,0
28,2,0.20,0.80,0.0,0,0.35,0.65,0.0,0,0.20,0.80,0.0,0,0,1,0
29,2,0.00,1.00,0.0,0,0.30,0.70,0.0,0,0.20,0.80,0.0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48398,2,0.00,1.00,0.0,25,0.00,1.00,0.0,25,0.05,0.95,0.0,25,0,1,0
48399,2,0.00,1.00,0.0,25,0.05,0.95,0.0,25,0.05,0.95,0.0,25,0,1,0
48400,2,0.00,1.00,0.0,25,0.10,0.90,0.0,25,0.05,0.95,0.0,25,0,1,0
48401,2,0.03,0.97,0.0,25,0.01,0.99,0.0,25,0.05,0.95,0.0,25,0,1,0
48402,2,0.00,1.00,0.0,25,0.10,0.90,0.0,25,0.05,0.95,0.0,25,0,1,0
48403,2,0.01,0.99,0.0,25,0.00,1.00,0.0,25,0.10,0.90,0.0,25,0,1,0
48404,2,0.00,1.00,0.0,25,0.01,0.99,0.0,25,0.30,0.70,0.0,25,0,1,0
48405,2,0.30,0.70,0.0,25,0.03,0.97,0.0,25,0.20,0.80,0.0,25,0,1,0
48406,2,0.05,0.95,0.0,25,0.20,0.80,0.0,25,0.01,0.99,0.0,25,0,1,0
48407,2,0.00,1.00,0.0,25,0.10,0.90,0.0,25,0.05,0.95,0.0,25,0,1,0
48408,2,0.00,1.00,0.0,25,0.00,1.00,0.0,25,0.00,1.00,0.0,25,0,1,0
48409,2,0.05,0.95,0.0,25,0.10,0.90,0.0,25,0.10,0.90,0.0,25,0,1,0
48410,2,0.05,0.95,0.0,25,0.00,1.00,0.0,25,0.15,0.85,0.0,25,0,1,0
48411,2,0.05,0.95,0.0,25,0.00,1.00,0.0,25,0.05,0.95,0.0,25,0,1,0
48412,2,0.15,0.85,0.0,25,0.00,1.00,0.0,25,0.04,0.96,0.0,25,0,1,0
48413,2,0.00,1.00,0.0,25,0.05,0.95,0.0,25,0.20,0.80,0.0,25,0,1,0
48414,2,0.10,0.90,0.0,25,0.10,0.90,0.0,25,0.07,0.93,0.0,25,0,1,0
48415,2,0.00,1.00,0.0,25,0.00,1.00,0.0,25,0.08,0.92,0.0,25,0,1,0
48416,2,0.50,0.50,0.0,25,0.05,0.95,0.0,25,0.00,1.00,0.0,25,0,1,0
48417,2,0.05,0.95,0.0,25,0.05,0.95,0.0,25,0.00,1.00,0.0,25,0,1,0
48418,2,0.00,1.00,0.0,25,0.08,0.92,0.0,25,0.00,1.00,0.0,25,0,1,0
48419,2,0.10,0.90,0.0,25,0.02,0.98,0.0,25,0.00,1.00,0.0,25,0,1,0
48420,2,0.01,0.99,0.0,25,0.02,0.98,0.0,25,0.01,0.99,0.0,25,0,1,0
48421,2,0.05,0.95,0.0,25,0.00,1.00,0.0,25,0.00,1.00,0.0,25,0,1,0
48422,2,0.00,1.00,0.0,25,0.00,1.00,0.0,25,0.05,0.95,0.0,25,0,1,0
48423,2,0.10,0.90,0.0,25,0.01,0.99,0.0,25,0.10,0.90,0.0,25,0,1,0
48424,2,0.00,1.00,0.0,25,0.10,0.90,0.0,25,0.05,0.95,0.0,25,0,1,0
48425,2,0.40,0.60,0.0,25,0.00,1.00,0.0,25,0.10,0.90,0.0,25,0,1,0
48426,2,0.05,0.95,0.0,25,0.20,0.80,0.0,25,0.10,0.90,0.0,25,0,1,0
48427,2,0.02,0.98,0.0,25,0.00,1.00,0.0,25,0.01,0.99,0.0,25,0,1,0

In [156]:
ds2.to_csv("~/ds_fnn_w_only_prob.csv", index=False)

In [157]:
ds3 = pd.read_csv("~/ds_fnn_w_only_prob.csv")
ds3.head()

,n_opts,value_1_a,value_1_b,value_1_c,recency_1,value_2_a,value_2_b,value_2_c,recency_2,value_3_a,value_3_b,value_3_c,recency_3,outcome_a,outcome_b,outcome_c
0,2,0.10,0.90,0.0,0,0.10,0.90,0.0,0,0.20,0.80,0.0,0,0,1,0
1,2,0.40,0.60,0.0,0,0.20,0.80,0.0,0,0.05,0.95,0.0,0,0,1,0
2,2,0.40,0.60,0.0,0,0.35,0.65,0.0,0,0.20,0.80,0.0,0,0,1,0
3,2,0.40,0.60,0.0,0,0.60,0.40,0.0,0,0.20,0.80,0.0,0,0,1,0
4,2,0.75,0.25,0.0,0,0.20,0.80,0.0,0,0.60,0.40,0.0,0,0,1,0