# Loading Dataset

In [1]:
import pandas as pd
import numpy as np

ifps_raw = pd.read_csv('ifps.csv', sep=None, engine='python', parse_dates=['date_start'])
survey_1st_raw = pd.read_csv('survey_fcasts.yr1.tab', sep=None, engine='python', parse_dates=['fcast_date','timestamp'], dtype={'user_id': object})

FileNotFoundError: [Errno 2] No such file or directory: 'ifps.csv'

In [4]:
print(ifps_raw.shape)
ifps_raw.isna().sum()
ifps_raw.dropna(inplace=True)

ifps_raw.shape
ifps_raw.isna().sum()

ifps_raw.head()
questions = ifps_raw[["ifp_id","q_text","q_desc"]]
qu

(498, 14)

In [4]:
ifps_raw.columns
ifps_needed_columns = ["ifp_id","q_text","date_start","outcome","n_opts","options"]
ifps_raw.head()

ifps_w_options = ifps_raw.loc[:, ifps_needed_columns]
ifps_w_options.head()

,ifp_id,q_text,date_start,outcome,n_opts,options
0,1001-0,"Will the Six-Party talks (among the US, North ...",2011-09-01,b,2,"(a) Yes, (b) No"
1,1002-0,Who will be inaugurated as President of Russia...,2011-09-01,b,3,"(a) Medvedev, (b) Putin, (c) Neither"
2,1003-0,Will Serbia be officially granted EU candidacy...,2011-09-01,b,2,"(a) Yes, (b) No"
3,1004-0,Will the United Nations General Assembly recog...,2011-09-01,b,2,"(a) Yes, (b) No"
4,1005-0,Will Daniel Ortega win another term as Preside...,2011-09-01,a,2,"(a) Yes, (b) No"

In [5]:

survey_1st_raw.isnull().sum()

survey_needed_columns = ["ifp_id","user_id","answer_option","value","fcast_date"]

survey = survey_1st_raw.loc[:, survey_needed_columns]

In [7]:
ex1 = ifps_w_options[["ifp_id","date_start","outcome","n_opts"]]
print(ex1)

ex2 = survey
print(ex2)

     ifp_id date_start outcome  n_opts
0    1001-0 2011-09-01       b       2
1    1002-0 2011-09-01       b       3
2    1003-0 2011-09-01       b       2
3    1004-0 2011-09-01       b       2
4    1005-0 2011-09-01       a       2
5    1006-0 2011-09-01       b       2
6    1007-0 2011-09-01       b       3
7    1008-0 2011-09-01       a       2
8    1009-0 2011-09-01       c       3
9    1010-0 2011-09-07       b       2
10   1011-0 2011-09-07       b       2
11   1012-0 2011-09-07       b       2
12   1013-0 2011-09-07       b       2
13   1014-0 2011-09-07       c       3
14   1015-0 2011-09-07       b       2
15   1016-0 2011-09-07       a       2
16   1017-0 2011-09-07       b       2
17   1018-0 2011-09-07       b       2
19   1020-0 2011-10-04       b       2
20   1021-0 2011-10-04       a       2
21   1022-0 2011-10-04       b       2
22   1023-0 2011-10-04       a       2
23   1024-0 2011-10-04       b       2
24   1025-0 2011-10-04       a       2
25   1026-0 2011-10-04       a       2
26   1027-0 2011-10-04       a       3
27   1028-0 2011-10-04       b       2
29   1030-0 2011-10-04       b       2
30   1031-0 2011-10-04       b       2
31   1032-0 2011-10-04       b       2
..      ...        ...     ...     ...
577  1525-0 2015-03-11       b       2
578  1526-0 2015-03-18       c       4
579  1527-0 2015-03-18       b       2
580  1528-6 2015-03-18       a       4
581  1529-0 2015-03-18       b       2
582  1530-6 2015-03-18       b       3
583  1531-6 2015-04-01       d       4
584  1532-0 2015-04-01       b       2
585  1533-0 2015-04-01       b       2
586  1534-6 2015-04-01       d       4
587  1535-0 2015-04-01       b       2
588  1536-6 2015-04-08       b       3
589  1537-0 2015-04-08       b       2
590  1538-0 2015-04-08       b       2
591  1539-0 2015-04-15       b       2
592  1540-0 2015-04-15       b       2
593  1541-0 2015-04-29       b       2
594  1542-0 2015-04-29       b       2
595  1543-0 2015-04-29       b       2
596  1544-0 2015-04-29       b       2
597  5001-0 2013-07-09       b       2
598  5002-0 2013-07-09       c       4
599  5003-0 2013-07-09       b       2
600  5004-0 2013-07-09       a       5
601  5005-6 2013-07-09       a       3
602  5007-0 2013-07-09       b       2
603  5008-0 2014-02-01       b       2
604  5009-0 2014-02-01       a       2
615  6379-0 2014-03-12       b       2
616  6413-0 2014-10-17       b       2

[498 rows x 4 columns]
        ifp_id user_id answer_option  value fcast_date
0       1004-0     600             a   0.10 2011-08-31
1       1004-0     600             b   0.90 2011-08-31
2       1008-0     600             a   0.25 2011-08-31
3       1008-0     600             b   0.75 2011-08-31
4       1006-0     600             a   0.10 2011-08-31
5       1006-0     600             b   0.90 2011-08-31
6       1001-0     600             a   0.10 2011-08-31
7       1001-0     600             b   0.90 2011-08-31
8       1002-0     600             a   0.15 2011-08-31
9       1002-0     600             b   0.80 2011-08-31
10      1002-0     600             c   0.05 2011-08-31
11      1003-0     600             a   0.15 2011-08-31
12      1003-0     600             b   0.85 2011-08-31
13      1005-0     600             a   0.70 2011-08-31
14      1005-0     600             b   0.30 2011-08-31
15      1001-0    2986             a   0.10 2011-08-31
16      1001-0    2986             b   0.90 2011-08-31
17      1002-0    2986             a   0.80 2011-08-31
18      1002-0    2986             b   0.10 2011-08-31
19      1002-0    2986             c   0.10 2011-08-31
20      1003-0    2986             a   0.50 2011-08-31
21      1003-0    2986             b   0.50 2011-08-31
22      1004-0    2986             a   0.05 2011-08-31
23      1004-0    2986             b   0.95 2011-08-31
24      1005-0    2986             a   0.50 2011-08-31
25      1005-0    2986             b   0.50 2011-08-31
26      1006-0    2986             a   0.05 2011-08-31
27      1006-0    2986             b   0.95 2011-08-31
28      1001-0    3469             a   0.20 2011-08-31
29      1001-0    3469             b   0.80 2011-08-31
...        ...     ...           ...    ...        ...
308202  1087-0    2937             b   0.65 2012-04-13
308203  1054-0    1986             a   0.10 2012-04-13
308204  1054-0    1986             b   0.90 2012-04-13
308205  1036-0     546             a   0.02 2012-04-13
308206  1036-0     546             b   0.98 2012-04-13
308207  1049-0     546             a   0.02 2012-04-13
308208  1049-0     546             b   0.98 2012-04-13
308209  1047-0     546             a   0.07 2012-04-13
308210  1047-0     546             b   0.93 2012-04-13
308211  1102-0     546             a   0.97 2012-04-13
308212  1102-0     546             b   0.03 2012-04-13
308213  1084-0     546             a   0.62 2012-04-13
308214  1084-0     546             b   0.38 2012-04-13
308215  1084-0     546             c   0.00 2012-04-13
308216  1050-0    3475             a   0.30 2012-04-13
308217  1050-0    3475             b   0.70 2012-04-13
308218  1065-0     546             a   0.04 2012-04-13
308219  1065-0     546             b   0.96 2012-04-13
308220  1087-0    3475             a   0.35 2012-04-13
308221  1087-0    3475             b   0.65 2012-04-13
308222  1081-0     546             a   0.23 2012-04-13
308223  1081-0     546             b   0.77 2012-04-13
308224  1093-0     546             a   0.10 2012-04-13
308225  1093-0     546             b   0.90 2012-04-13
308226  1100-0     546             a   0.29 2012-04-13
308227  1100-0     546             b   0.71 2012-04-13
308228  1036-0    5041             a   0.40 2012-04-14
308229  1036-0    5041             b   0.60 2012-04-14
308230  1049-0    5041             a   0.10 2012-04-14
308231  1049-0    5041             b   0.90 2012-04-14

[308232 rows x 5 columns]

In [8]:

c = pd.merge(ex1,ex2,on='ifp_id')
preferred_column_order = ['ifp_id',
 'date_start',
 'n_opts',
 'user_id',
 'answer_option',
 'value',
 'fcast_date',
 'outcome']
#c = c[preferred_column_order]
c

,ifp_id,date_start,outcome,n_opts,user_id,answer_option,value,fcast_date
0,1001-0,2011-09-01,b,2,600,a,0.10,2011-08-31
1,1001-0,2011-09-01,b,2,600,b,0.90,2011-08-31
2,1001-0,2011-09-01,b,2,2986,a,0.10,2011-08-31
3,1001-0,2011-09-01,b,2,2986,b,0.90,2011-08-31
4,1001-0,2011-09-01,b,2,3469,a,0.20,2011-08-31
5,1001-0,2011-09-01,b,2,3469,b,0.80,2011-08-31
6,1001-0,2011-09-01,b,2,4953,a,0.40,2011-08-31
7,1001-0,2011-09-01,b,2,4953,b,0.60,2011-08-31
8,1001-0,2011-09-01,b,2,3846,a,0.20,2011-08-31
9,1001-0,2011-09-01,b,2,3846,b,0.80,2011-08-31
10,1001-0,2011-09-01,b,2,636,a,0.05,2011-08-31
11,1001-0,2011-09-01,b,2,636,b,0.95,2011-08-31
12,1001-0,2011-09-01,b,2,5187,a,0.40,2011-08-31
13,1001-0,2011-09-01,b,2,5187,b,0.60,2011-08-31
14,1001-0,2011-09-01,b,2,2945,a,0.35,2011-08-31
15,1001-0,2011-09-01,b,2,2945,b,0.65,2011-08-31
16,1001-0,2011-09-01,b,2,1456,a,0.20,2011-08-31
17,1001-0,2011-09-01,b,2,1456,b,0.80,2011-08-31
18,1001-0,2011-09-01,b,2,4508,a,0.40,2011-08-31
19,1001-0,2011-09-01,b,2,4508,b,0.60,2011-08-31
20,1001-0,2011-09-01,b,2,2508,a,0.60,2011-08-31
21,1001-0,2011-09-01,b,2,2508,b,0.40,2011-08-31
22,1001-0,2011-09-01,b,2,1414,a,0.20,2011-08-31
23,1001-0,2011-09-01,b,2,1414,b,0.80,2011-08-31
24,1001-0,2011-09-01,b,2,1235,a,0.75,2011-08-31
25,1001-0,2011-09-01,b,2,1235,b,0.25,2011-08-31
26,1001-0,2011-09-01,b,2,4999,a,0.20,2011-08-31
27,1001-0,2011-09-01,b,2,4999,b,0.80,2011-08-31
28,1001-0,2011-09-01,b,2,3364,a,0.60,2011-08-31
29,1001-0,2011-09-01,b,2,3364,b,0.40,2011-08-31
...,...,...,...,...,...,...,...,...
308202,1104-0,2012-03-05,b,2,1119,a,0.00,2012-03-30
308203,1104-0,2012-03-05,b,2,1119,b,1.00,2012-03-30
308204,1104-0,2012-03-05,b,2,868,a,0.05,2012-03-30
308205,1104-0,2012-03-05,b,2,868,b,0.95,2012-03-30
308206,1104-0,2012-03-05,b,2,407,a,0.03,2012-03-30
308207,1104-0,2012-03-05,b,2,407,b,0.97,2012-03-30
308208,1104-0,2012-03-05,b,2,3804,a,0.05,2012-03-30
308209,1104-0,2012-03-05,b,2,3804,b,0.95,2012-03-30
308210,1104-0,2012-03-05,b,2,63,a,0.45,2012-03-30
308211,1104-0,2012-03-05,b,2,63,b,0.55,2012-03-30
308212,1104-0,2012-03-05,b,2,517,a,0.00,2012-03-30
308213,1104-0,2012-03-05,b,2,517,b,1.00,2012-03-30
308214,1104-0,2012-03-05,b,2,2012,a,0.10,2012-03-30
308215,1104-0,2012-03-05,b,2,2012,b,0.90,2012-03-30
308216,1104-0,2012-03-05,b,2,4071,a,0.05,2012-03-30
308217,1104-0,2012-03-05,b,2,4071,b,0.95,2012-03-30
308218,1104-0,2012-03-05,b,2,5753,a,0.00,2012-03-30
308219,1104-0,2012-03-05,b,2,5753,b,1.00,2012-03-30
308220,1104-0,2012-03-05,b,2,2780,a,0.20,2012-03-30
308221,1104-0,2012-03-05,b,2,2780,b,0.80,2012-03-30
308222,1104-0,2012-03-05,b,2,2202,a,0.02,2012-03-30
308223,1104-0,2012-03-05,b,2,2202,b,0.98,2012-03-30
308224,1104-0,2012-03-05,b,2,3078,a,0.00,2012-03-30
308225,1104-0,2012-03-05,b,2,3078,b,1.00,2012-03-30
308226,1104-0,2012-03-05,b,2,4112,a,0.01,2012-03-30
308227,1104-0,2012-03-05,b,2,4112,b,0.99,2012-03-30
308228,1104-0,2012-03-05,b,2,5325,a,0.20,2012-03-30
308229,1104-0,2012-03-05,b,2,5325,b,0.80,2012-03-30
308230,1104-0,2012-03-05,b,2,817,a,0.20,2012-03-30
308231,1104-0,2012-03-05,b,2,817,b,0.80,2012-03-30

In [9]:
# Generate Appropriate DataFrame structure with specific columns

import gjnn.dsutils as utils

middle_columns = utils.generate_column_names_per_user(3)
columns = [
    'ifp_id',
    'date_start',
    'n_opts',
    'user_id']
columns += middle_columns
columns.append('outcome')

print(middle_columns)
print("-"*50)
print(list(columns))

['answer_option_a', 'value_a', 'fcast_date_a', 'answer_option_b', 'value_b', 'fcast_date_b', 'answer_option_c', 'value_c', 'fcast_date_c']
--------------------------------------------------
['ifp_id', 'date_start', 'n_opts', 'user_id', 'answer_option_a', 'value_a', 'fcast_date_a', 'answer_option_b', 'value_b', 'fcast_date_b', 'answer_option_c', 'value_c', 'fcast_date_c', 'outcome']

In [10]:
ds = pd.DataFrame(columns=columns, index=np.arange(survey.shape[0]))


c.columns

ds

,ifp_id,date_start,n_opts,user_id,answer_option_a,value_a,fcast_date_a,answer_option_b,value_b,fcast_date_b,answer_option_c,value_c,fcast_date_c,outcome
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
counter_opts = 0
out_index = 0


for index, row in c.iterrows():
    current_nopts = row["n_opts"]
    ds.loc[out_index]["ifp_id"] = row["ifp_id"]
    ds.loc[out_index]["date_start"] = row["date_start"]
    ds.loc[out_index]["n_opts"] = row["n_opts"]
    ds.loc[out_index]["outcome"] = row["outcome"]

    ds.loc[out_index]["user_id"] = row["user_id"]
    ds.loc[out_index]["answer_option_"+ chr(counter_opts+ord('a'))] = row["answer_option"]
    ds.loc[out_index]["value_"+chr(counter_opts+ord('a'))] = row["value"]
    ds.loc[out_index]["fcast_date_" + chr(counter_opts+ord('a'))] = row["fcast_date"]
    counter_opts += 1
    if current_nopts == 2 and counter_opts == 2:
        ds.loc[out_index]["answer_option_" + chr(counter_opts+ord('a'))] = "c"
        ds.loc[out_index]["value_" + chr(counter_opts+ord('a'))] = 0.0
        ds.loc[out_index]["fcast_date_" + chr(counter_opts+ord('a'))] = row["fcast_date"]
        counter_opts = 0
        out_index += 1         
    elif current_nopts == 3 and counter_opts == 3:
        counter_opts = 0
        out_index += 1

ds

,ifp_id,date_start,n_opts,user_id,answer_option_a,value_a,fcast_date_a,answer_option_b,value_b,fcast_date_b,answer_option_c,value_c,fcast_date_c,outcome
0,1001-0,2011-09-01 00:00:00,2,600,a,0.1,2011-08-31 00:00:00,b,0.9,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
1,1001-0,2011-09-01 00:00:00,2,2986,a,0.1,2011-08-31 00:00:00,b,0.9,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
2,1001-0,2011-09-01 00:00:00,2,3469,a,0.2,2011-08-31 00:00:00,b,0.8,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
3,1001-0,2011-09-01 00:00:00,2,4953,a,0.4,2011-08-31 00:00:00,b,0.6,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
4,1001-0,2011-09-01 00:00:00,2,3846,a,0.2,2011-08-31 00:00:00,b,0.8,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
5,1001-0,2011-09-01 00:00:00,2,636,a,0.05,2011-08-31 00:00:00,b,0.95,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
6,1001-0,2011-09-01 00:00:00,2,5187,a,0.4,2011-08-31 00:00:00,b,0.6,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
7,1001-0,2011-09-01 00:00:00,2,2945,a,0.35,2011-08-31 00:00:00,b,0.65,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
8,1001-0,2011-09-01 00:00:00,2,1456,a,0.2,2011-08-31 00:00:00,b,0.8,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
9,1001-0,2011-09-01 00:00:00,2,4508,a,0.4,2011-08-31 00:00:00,b,0.6,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
10,1001-0,2011-09-01 00:00:00,2,2508,a,0.6,2011-08-31 00:00:00,b,0.4,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
11,1001-0,2011-09-01 00:00:00,2,1414,a,0.2,2011-08-31 00:00:00,b,0.8,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
12,1001-0,2011-09-01 00:00:00,2,1235,a,0.75,2011-08-31 00:00:00,b,0.25,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
13,1001-0,2011-09-01 00:00:00,2,4999,a,0.2,2011-08-31 00:00:00,b,0.8,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
14,1001-0,2011-09-01 00:00:00,2,3364,a,0.6,2011-08-31 00:00:00,b,0.4,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
15,1001-0,2011-09-01 00:00:00,2,1533,a,0.1,2011-08-31 00:00:00,b,0.9,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
16,1001-0,2011-09-01 00:00:00,2,5109,a,0.25,2011-08-31 00:00:00,b,0.75,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
17,1001-0,2011-09-01 00:00:00,2,2602,a,0.65,2011-08-31 00:00:00,b,0.35,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
18,1001-0,2011-09-01 00:00:00,2,3126,a,0.1,2011-08-31 00:00:00,b,0.9,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
19,1001-0,2011-09-01 00:00:00,2,951,a,0.3,2011-08-31 00:00:00,b,0.7,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
20,1001-0,2011-09-01 00:00:00,2,634,a,0.4,2011-08-31 00:00:00,b,0.6,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
21,1001-0,2011-09-01 00:00:00,2,4971,a,0.5,2011-08-31 00:00:00,b,0.5,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
22,1001-0,2011-09-01 00:00:00,2,4033,a,0.05,2011-08-31 00:00:00,b,0.95,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
23,1001-0,2011-09-01 00:00:00,2,3425,a,0.2,2011-08-31 00:00:00,b,0.8,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
24,1001-0,2011-09-01 00:00:00,2,4111,a,0.4,2011-08-31 00:00:00,b,0.6,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
25,1001-0,2011-09-01 00:00:00,2,3505,a,0.4,2011-08-31 00:00:00,b,0.6,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
26,1001-0,2011-09-01 00:00:00,2,2043,a,0.05,2011-08-31 00:00:00,b,0.95,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
27,1001-0,2011-09-01 00:00:00,2,4023,a,0.6,2011-08-31 00:00:00,b,0.4,2011-08-31 00:00:00,c,0,2011-08-31 00:00:00,b
28,1001-0,2011-09-01 00:00:00,2,5182,a,0,2011-09-01 00:00:00,b,1,2011-09-01 00:00:00,c,0,2011-09-01 00:00:00,b
29,1001-0,2011-09-01 00:00:00,2,3494,a,0.2,2011-09-01 00:00:00,b,0.8,2011-09-01 00:00:00,c,0,2011-09-01 00:00:00,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
ds[(ds["fcast_date_a"] == ds["fcast_date_c"])].dropna().shape

ds.dropna().to_csv("~/survey1_per_user.csv", index=False)

NameError: name 'ds' is not defined

In [3]:
ifps_per_user = pd.read_csv('~/survey1_per_user.csv', sep=None, engine='python')

ifps_per_user.shape
ifps_per_user.head()

,ifp_id,date_start,n_opts,user_id,date_fcast,answer_option_a,value_a,answer_option_b,value_b,answer_option_c,value_c,outcome
0,1001-0,2011-09-01,2,600,2011-08-31,a,0.1,b,0.9,c,0.0,b
1,1001-0,2011-09-01,2,2986,2011-08-31,a,0.1,b,0.9,c,0.0,b
2,1001-0,2011-09-01,2,3469,2011-08-31,a,0.2,b,0.8,c,0.0,b
3,1001-0,2011-09-01,2,4953,2011-08-31,a,0.4,b,0.6,c,0.0,b
4,1001-0,2011-09-01,2,3846,2011-08-31,a,0.2,b,0.8,c,0.0,b

In [ ]:
lista_ifp = ifps_per_user.user_id.unique()
print(len(lista_ifp))
l = []
for i in lista_ifp:
    l.append(ifps_per_user[ifps_per_user["ifp_id"] == i].shape[0])
    
a = pd.Series(l)
a.mean()
print(lista_ifp)

1972

In [ ]:
#ifps_per_user = ifps_per_user.set_index("ifp_id")
ds = ds.drop(['fcast_date_b','fcast_date_c'], axis=1)
ifps_per_user.head()

In [24]:
ds.rename(columns={'fcast_date_a': 'date_fcast'}, inplace=True)

In [25]:
#ds["days_from_start"] = ds["date_fcast"] - ds["date_start"]
ds.dropna()
#ds["sum"] = (ds["value_a"] + ds["value_b"] + ds["value_c"]).astype(float)

# Let's be sure every probability sums up to 1
#ds[(ds["sum"] < 0.9999) | (ds["sum"] > 1)]

#ds.drop(['diff','sum','date_start','n_opts'], axis=1, inplace=True)


ds["ifp_id"].unique()

array(['1001-0', '1002-0', '1003-0', '1004-0', '1005-0', '1006-0',
       '1007-0', '1008-0', '1009-0', '1010-0', '1011-0', '1012-0',
       '1013-0', '1014-0', '1015-0', '1016-0', '1017-0', '1018-0',
       '1020-0', '1021-0', '1022-0', '1023-0', '1024-0', '1025-0',
       '1026-0', '1027-0', '1028-0', '1030-0', '1031-0', '1032-0',
       '1033-0', '1034-0', '1035-0', '1036-0', '1037-0', '1038-0',
       '1039-0', '1040-0', '1041-0', '1042-0', '1043-0', '1044-0',
       '1045-0', '1046-0', '1047-0', '1048-0', '1049-0', '1050-0',
       '1051-0', '1052-0', '1053-0', '1054-0', '1055-0', '1056-0',
       '1057-0', '1058-0', '1059-0', '1060-0', '1061-0', '1062-0',
       '1063-0', '1064-0', '1065-0', '1066-0', '1067-0', '1068-0',
       '1069-0', '1070-0', '1071-0', '1072-0', '1073-0', '1074-0',
       '1075-0', '1076-0', '1077-0', '1078-0', '1104-0', '1080-0',
       '1081-0', '1082-0', '1083-0', '1084-0', '1085-0', '1086-0',
       '1087-0', '1088-0', '1089-0', '1090-0', '1091-0', '1092-0',
       '1093-0', '1094-0', '1095-0', '1096-0', '1097-0', '1098-0',
       '1099-0', '1100-0', '1101-0', '1102-0', '1103-0', nan], dtype=object)